[submodule "Deya/vendor/spdlog"]
	path = Deya/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Deya/vendor/GLFW"]
	path = Deya/vendor/GLFW
	url = https://github.com/FFuuZZuu/glfw
[submodule "Deya/vendor/imgui"]
	path = Deya/vendor/imgui
	url = https://github.com/FFuuZZuu/imgui.git
