build/
bin/
bin-int/
Makefile
null.d

!vendor/bin

#imgui
log.txt
imgui.ini
imgui_log.txt

# !IDE SPECIFIC

# visual studio code
.vscode/

# visual studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user