build/
bin/
bin-int/
Makefile
null.d

!vendor/bin

CreateClass.sh

DeyaProfile-Startup.json
DeyaProfile-Runtime.json
DeyaProfile-Shutdown.json

#imgui
log.txt

# !IDE SPECIFIC

# visual studio code
.vscode/

# visual studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user